body, html
{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    font-family:calibri;
    color:white;
    
}
.desktop
{
    background-image: url(pics/desktopBackground.jpg);
    background-size:cover;    
    width:100%;
    height:100%;
}


/* The style of the window*/
.window
{
   position:absolute;
   width:300px;
   height:340px;
   border:2px solid black;
   border-radius:5px;
   
   /* Text Selection Disabled*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.windowTop
{
    height:30px;
    background-color: rgba(50, 0, 0, 0.6);
    background-image: url(pics/vertical.png);
}

.windowTop:hover
{
    cursor: -webkit-grab;
}
.windowTop:active
{
    cursor: -webkit-grabbing;
}
.windowContent

{
    width:300px;
    height:275px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    background-color:NavajoWhite;
    overflow:auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.windowFooter
{
    height:33px;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.topTitle
{
    float:left;
    font-size:25px;
}
.topTitle img
{
    float:left;
    width:30px;
    height:30px;
}

.topClose
{
  float:right;
 
}

.deleteIcon:hover
{
    width:105%;
    height:105%;
    cursor:pointer;
}

/*StartMenu*/
.startFixer
{
    text-align:center;
}
.startBar
{
    position:absolute;
    bottom:0px;
    border-top:1px solid black;
    width:100%;
    height:50px;
    background: rgba(50, 0, 0, 0.6);
    background-image: url(pics/vertical.png);
    background-attachment: fixed;
}

.startBar img
{
  
    width:44px;
    height:44px;
}
.startBar img:hover
{
    width:46px;
    height:46px;
}

/*WindowContent for the Gallery*/

.windowContent .galleryImages
{
   margin-top:6%;
   border:1px solid black;
   
}
.windowContent .imageBox
{
    margin:auto;
    border: 1px solid black;
    
    width:81px;
    height:60px;
    text-align:center;
    margin-top:3px;
    margin-bottom:2px;
}