body, html
{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    font-family:calibri;
    
}
.desktop
{
    background-image: url(pics/desktopBackground.jpg);
    background-size:cover;    
    width:100%;
    height:100%;
}


/* The style of the window*/
.window
{
   position:absolute;
   width:300px;
   height:340px;
   border:2px solid black;
   border-radius:5px;
   background:inherit;
}

.windowTop
{
    height:30px;
    background-color:inherit;
   
}

.windowContent
{
    height:275px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    background-color:NavajoWhite;
}

.windowFooter
{
    height:33px;
    background-color:inherit;
}
.topTitle
{
    float:left;
    font-size:25px;
}
.topTitle img
{
    float:left;
    width:30px;
    height:30px;
}

.topClose
{
  float:right;
 
}

.deleteIcon:hover
{
    width:105%;
    height:105%;
}

/*StartMenu*/
.startBar
{
    position:absolute;
    bottom:0px;
    border-top:1px solid black;
    width:100%;
    height:50px;
    background: rgba(50, 0, 0, 0.6);
    background-image: url(pics/vertical.png);
    background-attachment: fixed;
}

.startBar img
{
  
    width:44px;
    height:44px;
}
.startBar img:hover
{
    width:46px;
    height:46px;
}

