body
{
    
    background-image:url("pics/matrix.jpg");
    overflow-y:hidden;
}
#fieldset 
{
    font-family:Consolas, monaco, monospace;
    color:white;
    font-size:16px;
    margin-left:200px;
    float:left;
    background-color:#2AB43B;
    max-width: 300px;
    height: 400px;
    border: 2px solid;
    border-radius: 25px;
}
#form
{
    font-family:Consolas, monaco, monospace;
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    
    border:1px solid black;
    border-radius: 10px;
}



h1
{
    font-family:Consolas, monaco, monospace;
    font-size:20px;
    position:relative;
    margin-left:25px;
}

h2
{
    font-family:Consolas, monaco, monospace;
    font-size:15px;
    margin-left:80px;    
}
.hover 
{
    background-color:red;
    height:27px;
    width:170px;
    
}


    
.showText
{
    font-family:Consolas, monaco, monospace;
    color:white;
    font-size:18px;
    max-width:350px;
    float:left;
    margin-left:5px;
}
.showTime
{
    font-family:Consolas, monaco, monospace;
    color:white;
    font-size:18px;
    float:right;
    margin-top:30px;
    
   
}

.textWindow
{
    margin-top:5px;
    margin-right:30px;
    border: 2px solid black;
    border-radius:15px;
    background-color:#2AB43B;
    height:100px;
    width:500px;
    word-break:break-all;
    white-space:pre-line;
}

#box
{
    
    
    border-radius:5px;
    float:right;
    min-height:100px;
    min-width:400px;
    max-height:700px;
    overflow-y:auto;
   
}

.imgPic
{
    background: url(pics/MatrixButton2.png);
    height:120px;
    width:120px;
    border:none;
    margin-left:87px;
    
}

.hover
{
    
    cursor:pointer;
}

.showClock
{
    margin-right:-60px;
    float:right;
}
.showDelete
{
     margin-right:-40px;
     float:right;
}