body
{
    
    /*background-image:url("pics/matrix.jpg");*/
}
#fieldset 
{
    margin-left:200px;
    float:left;
    background-color:#2AB43B;
    max-width: 300px;
    height: 400px;
     border: 2px solid;
    border-radius: 25px;
}
#form
{
    
    font-family:Consolas, monaco, monospace;
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
    border:1px solid black;
    border-radius: 10px;
}

#send
{
    margin-top:10px;
    font-family:Consolas, monaco, monospace;
    font-size:20px;
    margin-left:75px;
    height:25px;
    width:150px;
    border: 1px solid black;
    border-radius:25px;
    background-color:#2AB43B;
    box-shadow:0px 1px 0px 0px;
    
}

h1
{
    font-family:Consolas, monaco, monospace;
    font-size:20px;
    position:relative;
    margin-left:25px;
}

h2
{
    font-family:Consolas, monaco, monospace;
    font-size:15px;
    margin-left:80px;    
}
.hover 
{
    background-color:red;
    height:27px;
    width:170px;
    
}


    
#p
{
    font-family:Consolas, monaco, monospace;
    color:white;
    font-size:20px;
    margin-top:100px;
    margin-right:200px;
    border: 2px solid black;
    border-radius:15px;
    background-color:#2AB43B;
    height:200px;
    width:300px;
    float:right;
}
    
